@media screen and (max-width: 768px) {
  /* --------- BANNER ---------- */
  .banner-name {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* --------- NAVBAR ---------- */
  .nav-name {
    display: none;
  }

  .nav-avatar {
    display: none;
  }

  /* --------- ABOUT ---------- */
  #target {
    padding: 80px 20px 40px 20px;
  }
  #target > h1 {
    font-size: 30px;
    text-align: center;
  }

  #personal-info {
    padding: 80px 20px 40px 20px;
  }
  #personal-info > h1 {
    font-size: 30px;
  }

  /* --------- JOB INFO ---------- */
  #job-info > .container {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .project-icon {
    display: flex;
    flex-direction: column;
  }
  /* --------- CERTIFICATE ---------- */

  #certificate > .container {
    padding: 10px;
  }
  .cert-content > .cert {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin-bottom: 20px;
  }
  .cert.top-border {
    padding-top: 40px;
  }
  .cert > img {
    margin-bottom: 20px;
  }
}

/* --------- PROJECTS ---------- */
#projects > .container {
  padding: 10px;
}
.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}
.project {
  display: flex;
  flex-direction: column;
  height: 770px;
}
.description {
  height: 750px;
}
